body {
  width: 100%; 
  height: 100%; 
  position: relative; 
  background: #150E28;
  color: white;
}

.logo {
  position: absolute;
  left: 128px; 
  top: 67px;
  display: inline;
}

.logo-text1 {
  color: #FFFFFF; 
  font-size: 36px; 
  font-family: 'Clash Display', sans-serif; 
  font-weight: 700;

}

.logo-text2 {
  color: #D434FE; 
  font-size: 36px; 
  font-family: 'Clash Display', sans-serif;
  font-weight: 700;
}

nav {
  position: absolute;
  width: 716px; 
  height: 53px; 
  left: 668px; 
  top: 63px; 
  color: white; 
  font-size: 16px; 
  font-family: Montserrat; font-weight: 400; 
  word-wrap: break-word;
}

.timeline {
  left: 0px; 
  top: 16px; 
  position: absolute;
}

.overview {
  left: 126px; 
  top: 16px; 
  position: absolute;
}

.register-link {
  left: 52px; 
  top: 16px; 
  position: absolute;
}

.contact {
  left: 358px; 
  top: 16px; 
  position: absolute;
}

.faq {
  left: 259px; 
  top: 16px; 
  position: absolute; 
}

.register-button1 {
  width: 172px; 
  height: 53px; 
  left: 0px; top: 0px; 
  position: absolute; 
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56%, #FF26B9 100%, #FE34B9 100%); 
  border-radius: 4px;
}

.purple-flare1 {
  width: 1086px; 
  height: 836px; 
  left: 0px; 
  top: 0px; 
  position: absolute;
}

.metrix {
  width: 1164px; 
  height: 801px; 
  left: 348px; 
  top: 181px; 
  position: absolute;
}

.emptydiv1 {
  width: 1865px; 
  height: 0px; 
  left: 1803px; 
  top: 141px; 
  position: absolute; 
  transform: rotate(-180deg); 
  transform-origin: 0 0; border: 1px rgba(255, 255, 255, 0.18) solid;
}

.emptydiv2 {
  width: 1865px; 
  height: 0px; 
  left: 1803px; 
  top: 2175px; 
  position: absolute; 
  transform: rotate(-180deg); 
  transform-origin: 0 0; border: 1px rgba(255, 255, 255, 0.18) solid;
}

.emptydiv3 {
  width: 1541px; 
  height: 0px; 
  left: 1530px; 
  top: 3152px; 
  position: absolute; 
  transform: rotate(180deg); transform-origin: 0 0; 
  border: 1px rgba(255, 255, 255, 0.18) solid;
}

.emptydiv4 {
  width: 1541px; 
  height: 0px; 
  left: 1530px; 
  top: 4078px; 
  position: absolute; 
  transform: rotate(180deg); transform-origin: 0 0; 
  border: 1px rgba(255, 255, 255, 0.18) solid;
}

.emptydiv5 {
  width: 1541px; 
  height: 0px; 
  left: 1530px; 
  top: 7454px; 
  position: absolute; 
  transform: rotate(180deg); transform-origin: 0 0; 
  border: 1px rgba(255, 255, 255, 0.18) solid;
}

.register-button2 {
  position: absolute;
  left: 132px; 
  top: 644px; 
  width: 172px; 
  height: 53px;
  color: white;
  font-size: 16px; 
  font-family: Montserrat; 
  font-weight: 400; 
  word-wrap: break-word; 
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56%, #FF26B9 100%, #FE34B9 100%); 
  border-radius: 4px;
}

.read-more-container {
  width: 172px; 
  height: 53px; 
  left: 829px; 
  top: 2928px; 
  position: absolute;
}

.emptydiv7 {
  width: 172px; 
  height: 53px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56%, #FF26B9 100%, #FE34B9 100%); 
  border-radius: 4px;
}

.read-more {
  left: 42px; 
  top: 17px; 
  position: absolute; 
  font-size: 16px; 
  font-family: Montserrat; font-weight: 400; 
  word-wrap: break-word;
}

.read-more2-container {
  width: 172px; 
  height: 53px; 
  left: 385px; 
  top: 8397px; 
  position: absolute;
}

.emptydiv8 {
  width: 172px; 
  height: 53px; 
  left: 0px; top: 0px; 
  position: absolute; 
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56%, #FF26B9 100%, #FE34B9 100%); 
  border-radius: 4px;
}

.man {
  width: 828px; 
  height: 715px; 
  left: 715px; 
  top: 267px; 
  position: absolute;
}

.read-more2 {
  left: 42px; 
  top: 17px; 
  position: absolute; 
  color: white; 
  font-size: 16px; 
  font-family: Montserrat; font-weight: 400; 
  word-wrap: break-word;
}

